.homeWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background: url(../../../public/img/homeImg_1920.jpg) no-repeat center;
    background-size: cover;
}

.authWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    min-height: 70%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.authForm {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.authForm h1 {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 60px;
    margin-left: 60px;

        &::before{
            content: "";
            position: absolute;
            left: 0;
            bottom: -10px;
            width: 110px;
            height: 4px;
            background: $color-1;
        }
}

.authForm input {
    width: 100%;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    font-size: 18px;
    letter-spacing: 1px;
    color: $color-1;

    &::placeholder{
        color: $color-1;
    }
}

button {
    margin-top: 30px;
    margin-bottom: 30px;
    background: $color-1;
    color: $color-3;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 35px;
    border: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}
.instructions > svg {
    margin-right: 0.25rem;
}
.offscreen {
    position: absolute;
    left: -9999px;
}
.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}

@media only screen and (max-width: 1552px){
    .authWrapper {
        width: 40%;
        min-height: 70%;
    }
}

@media only screen and (max-width: 1220px){
    .homeWrapper {
        background: url(../../../public/img/homeImg_1280.jpg) no-repeat center;
    }

    .authWrapper {
    width: 40%;
    min-height: 60%;
    }

    .authForm h1 {
    margin-left: 0.5rem;
    font-size: 25px;
    }
}

@media only screen and (max-width: 849px){
    .authWrapper {
        width: 60%;
        min-height: 70%;
    }
}

@media only screen and (max-width: 600px){
    .authWrapper {
        width: 80%;
        min-height: 80%;
    }
}

@media only screen and (max-width: 400px){
    .authWrapper {
        width: 95%;
        min-height: 70%;
    }
}

